
:host {
    margin: 100px auto;
    display: flex;
    width: 50%;
    
}
.is-invalid {
    border-left: solid 6px red;
  }
  
  .material-icons {
    display: inline-flex;
    vertical-align: middle;
  }

  .card-header {
    color: black;
  }